@font-face {
    font-family: 'iconfont';
    /* project id 2382899 */
    src: url('//at.alicdn.com/t/font_2382899_u77on2s03o.eot');
    src: url('//at.alicdn.com/t/font_2382899_u77on2s03o.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2382899_u77on2s03o.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2382899_u77on2s03o.woff') format('woff'),
        url('//at.alicdn.com/t/font_2382899_u77on2s03o.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2382899_u77on2s03o.svg#iconfont') format('svg');
}

.icon {
    font-family: 'iconfont';
    color: #333333;
    font-size: px2rem(20);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}